<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <div class="col-8 offset-2">
  <body>
    <h3>Create a New Listing</h3>
    <br>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="enter a Cashy title" type="text" class="form-control" required/>
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback"> Title should be valid</div>
      </div>
  
      <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
        <div class="invalid-feedback"> Please Enter a description</div>
      <div class="valid-feedback">description is vere level</div>

      </div>
      
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input name="listing[image]" placeholder="Upload image" type="file" class="form-control" />
        required
      </div>
      
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" placeholder="10" class="form-control" required/></div>
          <div class="invalid-feedback"> Price should be valid</div>
          <div class="valid-feedback">ohhhhhh! Good price !</div>


       
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">country</label>
        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
        <div class="invalid-feedback"> Country should be valid</div>
       <div class="valid-feedback">Perfect Country for You</div>


        </div>
      </div>
     
      <div class="mb-3">
        <label for="location" class="form-label">location</label>
      <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required/>
      <div class="invalid-feedback"> Location should be valid</div>
      <div class="valid-feedback">Location Amazing</div>


      </div>
      <button class="btn btn-dark btn-add">Add</button>
      <br><br>
    </form>
  </body>
</div>
</div>